@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

$primary-font: 'Merriweather';
$secondary-font: 'Golos Text';
$primary-color: #f54932;
$secondary-color: #fbce51;
$text-color: #313131;
$secondary-text-color: #3057a2;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
